<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
<li class="active"><%= link_to "<i class='icon-home4'></i> <span>Dashboard</span>".html_safe, {controller: "main", action: "index"} %></li>
<li>
    <a href="#"><i class="icon-copy"></i> <span>Restaurant Menu</span></a>
    <ul>
        <li><%= link_to "Menus Management <span class='label bg-warning-400'>Important</span>".html_safe, admin_menus_path %></li>
        <li><%= link_to "Categories Management", admin_categories_path %></li>
    </ul>
</li>
<li>
    <a href="#"><i class="icon-copy"></i> <span>Blogs Management</span></a>
    <ul>
        <li><%= link_to "Blog Listing", admin_galleries_path %></li>
        <li><%= link_to "Tags Management", admin_tags_path %></li>
    </ul>
</li>
<li>
    <a href="#"><i class="icon-stack"></i> <span>Order, Reservation & Contact</span></a>
    <ul>
        <li><%= link_to "Orders Management", admin_customer_orders_path %></li>
        <li><%= link_to "Reservations Management", admin_customer_reservations_path %></li>
        <li><%= link_to "Contacts Management", admin_customer_contacts_path %></li>
    </ul>
</li>
<li>
    <a href="#"><i class="icon-stack2"></i> <span>Info's Restaurant</span></a>
    <ul>
        <li><%= link_to "Restaurant Management", admin_restaurants_path %></a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="icon-gear"></i> <span>Setting</span></a>
    <ul>
        <li class="<%= "active" if params[:action] == "smtp_gmail_auth" %>"><%= link_to "SMTP - Gmail", admin_smtp_gmail_auth_path %></li>
    </ul>
</li>
<!--<li>
    <a href="#"><i class="icon-people"></i> <span>User</span></a>
    <ul>
        <li><a href="#">Change Password</a></li>
    </ul>
</li>-->