<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer_order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer_order.last_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer_order.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer_order.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer_order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer_order.address %>
</p>

<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
<%= link_to 'Back', customer_orders_path %>
