<body>

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
        <%= render "home/header" %>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Cart</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- SHOP PAGE -->
    <section id="shop-page" class="shop-page section">
        <div class="container">
            <table class="shop-table shop-cart">
                <thead>
                    <tr>
                        <th class="product-remove"></th>
                        <th class="product-name">Product</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- CART ITEM -->
                    <tr class="cart-item">
                        <td class="product-remove">
                            <a href="#" title="remove"><i class="icon awe_close"></i></a>
                        </td>
                        <td class="product-name">
                            <div class="product-thumbnail">
                                <a href="#"><img src="images/shop/img-3.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="#">Cereal Strawbery & Milk (L)</a>
                                <span>$12 per serve</span>
                            </div>
                        </td>
                        <td class="product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="number" value="1" class="qty">
                                <input type="button" value="+" class="plus">
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="amount">$48</span>
                        </td>
                    </tr>
                    <!-- END / CART ITEM -->

                    <!-- CART ITEM -->
                    <tr class="cart-item">
                        <td class="product-remove">
                            <a href="#" title="remove"><i class="icon awe_close"></i></a>
                        </td>
                        <td class="product-name">
                            <div class="product-thumbnail">
                                <a href="#"><img src="images/shop/img-4.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="#">Cereal Strawbery & Milk (L)</a>
                                <span>$12 per serve</span>
                            </div>
                        </td>
                        <td class="product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="number" value="1" class="qty">
                                <input type="button" value="+" class="plus">
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="amount">$48</span>
                        </td>
                    </tr>
                    <!-- END / CART ITEM -->

                    <!-- CART ITEM -->
                    <tr class="cart-item">
                        <td class="product-remove">
                            <a href="#" title="remove"><i class="icon awe_close"></i></a>
                        </td>
                        <td class="product-name">
                            <div class="product-thumbnail">
                                <a href="#"><img src="images/shop/img-5.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="#">Cereal Strawbery & Milk (L)</a>
                                <span>$12 per serve</span>
                            </div>
                        </td>
                        <td class="product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="number" value="1" class="qty">
                                <input type="button" value="+" class="plus">
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="amount">$48</span>
                        </td>
                    </tr>
                    <!-- END / CART ITEM -->
                </tbody>
            </table>
            <div class="cart-footer">
                <div class="coupon-code">
                     <%= button_to "Empty Cart", "#", class: "awe-btn awe-btn-2 awe-btn-plus text-uppercase", method: :delete %>
                </div>
                <div class="total">
                    <span>Total Order:</span>
                    <span class="amount">$120</span>
                </div>
            </div>
            <div class="cart-submit text-center">
                <div class="form-actions">
                    <%= link_to "START CHECKOUT", {controller: "checkout", action: "index"}, {class: "awe-btn awe-btn-3 awe-btn-default text-uppercase"} %>
                </div>
            </div>
        </div>
    </section>
    <!-- END / SHOP PAGE -->


    <!-- FOOTER -->
        <footer id="footer" class="footer">
            <div class="divider divider-1 divider-color"></div>
            <div class="awe-color"></div>
            <div class="container">
                <div class="copyright text-center">
                    <%= render "home/footer" %>
                </div>
            </div>
        </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<%= javascript_include_tag '/frontend/js/lib/jquery-1.11.2.min.js' %>

<!-- GOOGLE MAP -->
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag '/frontend/js/lib/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.bxslider.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.easing.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/masonry.pkgd.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/perfect-scrollbar.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.magnific-popup.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.parallax-1.1.3.js' %>
<%= javascript_include_tag '/frontend/js/lib/retina.min.js' %>
<%= javascript_include_tag '/frontend/js/scripts.js' %>

</body>