<body>

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
        <%= render "home/header" %>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-2">
            <h3 class="lg text-uppercase">Menu</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- SHOP PAGE -->
    <section id="shop-page" class="shop-page section">
        <div class="tabs-shop tabs-page">
            <div class="container">
                <ul class="nav-tabs" role="tablist">
                    <li class="active"><a href="#breakfast" role="tab" data-toggle="tab">Haus spezialitäten</a></li>
                    <li><a href="#" role="tab" data-toggle="tab">VorSpeise</a></li>
                    <li><a href="#" role="tab" data-toggle="tab">Salat</a></li>
                </ul>
                
                <select class="select-custom" name="">
                    <option value="">Alle Haus spezialitäten</option>
                    <option value="">Rind</option>
                    <option value="">Fisch</option>
                    <option value="">Poulet</option>
                    <option value="">Crevetten</option>
                    <option value="">Schwein</option>
                    <option value="">Tintenfische</option>        
                </select>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="tab-shop-content tab-content">
                    <!-- BREAKFAST -->
                    <div class="tab-pane fade in active" id="breakfast">
                        <div class="row">
                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <img src="images/blog/img-1.jpg" alt="">
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">35.50</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                Cereal Strawbery & Milk
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li>Healthy food</li>
                                                <li><em>Low-carb<em></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="images/blog/img-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="images/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="images/blog/img-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="images/blog/img-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="images/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="images/blog/img-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="images/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->


                        </div>
                        
                    </div>
                    <!-- END / BREAKFAST -->
                </div>
            </div>
        </div>
    </section>
    <!-- END / SHOP PAGE -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                <%= render "home/footer" %>
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<%= javascript_include_tag '/frontend/js/lib/jquery-1.11.2.min.js' %>

<!-- GOOGLE MAP -->
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag '/frontend/js/lib/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.bxslider.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.easing.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/masonry.pkgd.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/perfect-scrollbar.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.magnific-popup.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.parallax-1.1.3.js' %>
<%= javascript_include_tag '/frontend/js/lib/retina.min.js' %>
<%= javascript_include_tag '/frontend/js/scripts.js' %>

</body>