<header id="header" class="header header-2">
    <div class="container">
        <!-- LOGO -->
        <div class="logo"><%= link_to image_tag("/frontend/images/logo-PhoSG52.png"), {controller: "home", action: "index"} %></div>
        <!-- END / LOGO -->

        <!-- OPEN MENU MOBILE -->
        <div class="open-menu-mobile">
            <span>Toggle menu mobile</span>
        </div>
        <!-- END / OPEN MENU MOBILE -->

        <!-- NAVIGATION -->
        <nav class="navigation text-right" data-menu-type="1200">
            <!-- NAV -->
            <ul class="nav text-uppercase">
                <li><%= link_to "Home", {controller: "home", action: "index"} %></li>
                <li><%= link_to "About", {controller: "about", action: "index"} %></li>
                <li><%= link_to "Menu", {controller: "menu", action: "index"} %></li>
                <li><%= link_to "Reservation", {controller: "reservation", action: "index"} %></li>
                <li><%= link_to "Catering", {controller: "catering", action: "index"} %></li>
                <li><%= link_to "News", {controller: "news", action: "index"} %></li>
                <li><%= link_to "Contact", {controller: "contact", action: "index"} %></li>
            </ul>
            <!-- END / NAV -->

            <!-- MINICART -->
            <div class="minicart-wrap">
                <div class="toggle-minicart active">
                    <span class="text-uppercase">Cart</span>
                </div>
                <div class="minicart-body">
                    <h4 class="xsm text-uppercase text-center">Your cart</h4>
                    <ul class="minicart-list">
                        <% @order.line_items.each do |item| %>
                            <input type="hidden" name="line_items[id]" value="<%= item.id %>">
                            <li>
                                <div class="product-thumb">
                                    <img src="<%= item.menu.image_url.image_product_xsmall if item.menu.image_url? %>" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#"><%= item.menu.name_1 %></a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="amount">Mount: <strong><%= item.total_item %></strong>/<%= item.quantity %> items</span>
                                </div>
                                <div class="product-remove">
                                    <%= link_to "<i class='icon awe_close'></i>".html_safe , {controller: "cart", action: "index", do: 'remove_item', line_item_id: item.id } %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                    <div class="minicart-total">
                        Total
                        <span class="amount pull-right"><%= @order.total_order %></span>
                    </div>
                    <div class="minicart-footer">
                        <%= link_to "View Cart", {controller: "cart", action: "index"}, {class: "awe-btn awe-btn-2 awe-btn-default text-uppercase"} %>
                    </div>
                    <% if @order.line_items.count > 0%>
                        <div class="minicart-footer">
                            <%= link_to "Check out", {controller: "checkout", action: "index"}, {class: "awe-btn awe-btn-1 awe-btn-default text-uppercase"} %>
                        </div>
                    <% end %>

                </div>
            </div>
            <!-- END / MINICART -->
            
            <!-- SOCIAL -->
            <div class="head-social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <!-- END / SOCIAL -->
        </nav>
        <!-- END / NAVIGATION -->
    </div>

</header>