<body>
    
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- PAGE WRAP -->
<div id="page-wrap">

    <!-- ABOUT STORY -->
    <section id="about-story" class="about-story section no-line">
        <div class="container">
            <div class="block-first">
                <div class="row">
                    <div class="col-md-12">
                        <div class="image-wrap text-center">
                            <img src="/frontend/images/logo-PhoSG52.png?v=5" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block-first">
                <div class="row">
                    <div class="col-md-12 text-center hover-1">
                        <p><small>Choose your language</small></p>
                        <figure><%= link_to image_tag("/frontend/images/flags/icon-uk.png"), home_path(locale: "en") %>  <%= link_to image_tag("/frontend/images/flags/icon-german.png"), home_path(locale: "de") %></figure>
                        <h4 class="font-welcome">Take Away - Asia Buffet - Catering - Lieferung</h4>
                    </div>
                </div>
            </div>
            
            <% if @banners.count > 0 %>
                <div class="block-first">
                    <div class="row">
                        <div class="col-md-12 home-banner-box">
                            <ul class="bxslider">
                                
                                <% @banners.each do |banner| %>
                                    <li><img src="<%= banner.image_url.banner %>" title="
                                    <strong class='title'><%= banner.title %></strong><br/>
                                    <p><%= banner.description.html_safe %></p>
                                  <strong>Reservierung</strong>: Phosaigon52, 3. Stock, Bahnstrasse 60, 8105, Regensdorf<br/>
<strong>Reservation:</strong> Phosaigon52, 3rd Floor, Bahnstrasse 60, 8105, Regensdorf<br/>
                                    <strong>Telefon/Phone:</strong> +41 44 536 49 76 & +41 78 420 09 49
 <br> <strong>E-Mail:</strong> <a style='color:#fff' href='mailto:phosaigon52@gmail.com'>phosaigon52@gmail.com</a> | <strong>Website:</strong> www.phosaigon52.ch  | Facebook: <a style='color:#fff' target='_blank' href='https://www.facebook.com/Phosaigon52'>Pho Sai Gon 52</a><br/>
                                    "/>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
    <!-- ABOUT STORY -->
</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<%= javascript_include_tag '/frontend/js/lib/jquery-1.11.2.min.js' %>

<!-- GOOGLE MAP -->
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag '/frontend/js/lib/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.bxslider.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.easing.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/masonry.pkgd.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/perfect-scrollbar.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.magnific-popup.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.parallax-1.1.3.js' %>
<%= javascript_include_tag '/frontend/js/lib/retina.min.js' %>
<%= javascript_include_tag '/frontend/js/scripts.js' %>
<%= javascript_include_tag '/frontend/js/jquery.bxslider.js' %>
<%= javascript_include_tag '/frontend/js/jquery.bxslider.min.js' %>
<%= javascript_include_tag '/frontend/js/jquery.easing.1.3.js' %>

<script>
    $('.bxslider').bxSlider({
        captions: true,
        auto: true,
        speed: 1000,
        pause: 4000
    });
</script>

</body>
