<body class="blog">

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
        <%= render "home/header" %>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-2"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Demo Logo</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- SECTION BLOG -->
    <section id="section-blog" class="section-blog section">

        <div class="container">
            <div class="row">
                <div class="blog-grid">
                    <div class="grid-sizer"></div>
                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo1.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->

                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo2.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->

                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo3.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->

                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo4.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->

                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo5.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->

                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo6.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->

                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo7.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->

                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo8.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->
                    
                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo9.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->
                    
                    <!-- BLOG POST -->
                    <div class="post post-single">
                        <div class="post-media">
                            <img src="images/logo-anh-nhon/demo10.jpg" alt="">
                        </div>
                    </div>
                    <!-- END / BLOG POST -->
                </div>
            </div>

        </div>
    </section>
    <!-- END / SECTION BLOG -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                <%= render "home/footer" %>
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<%= javascript_include_tag '/frontend/js/lib/jquery-1.11.2.min.js' %>
<script type="text/javascript" src=""></script>

<!-- GOOGLE MAP -->
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag '/frontend/js/lib/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.bxslider.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.easing.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/masonry.pkgd.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/perfect-scrollbar.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.magnific-popup.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.parallax-1.1.3.js' %>
<%= javascript_include_tag '/frontend/js/lib/retina.min.js' %>
<%= javascript_include_tag '/frontend/js/scripts.js' %>

</body>