<% if @category.errors.any? %>
  <div id="error_explanation">
    <h6><%= pluralize(@category.errors.count, "error") %> prohibited this tag from being saved:</h6>

    <% @category.errors.full_messages.each do |message| %>
      <p class="label label-warning"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_for [:admin, @category], html: {class: "form-horizontal"} do |f| %>

    <div class="panel-body">
        
        <div class="form-group field">
            <%= f.label "Name", class: "col-lg-3 control-label" %>
            <div class="col-lg-9">
              <%= f.text_field :name, placeholder: "Enter name of category (required).....", class: "form-control" %>
            </div>
        </div>

        <div class="form-group field">
            <%= f.label "Description", class: "col-lg-3 control-label" %>
            <div class="col-lg-9">
              <%= f.text_area :description, rows: "5", cols: "5", placeholder: "Enter description of category.....", class: "form-control" %>
            </div>
        </div>
            
        <div class="form-group field">
            <%= f.label "Is Drink", class: "col-lg-3 control-label" %>
            <div class="col-lg-9">
                <div class="form-group">
                    <%= f.select(:is_drink, ['False', 'True'], {}, { :class => 'select' })%>
                </div>
            </div>
        </div>

        <div class="text-right">
          <%= button_tag 'Save <i class="icon-plus22 position-right"></i>'.html_safe, class: "btn btn-primary"%>
          <%= link_to 'Cancel <i class="icon-cross2"></i>'.html_safe, admin_categories_path,class: "btn bg-warning-400"%>
        </div>
    </div>
<% end %>