<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Pho Sai Gon 52, </h1>
    <p>This's my reservation info:</p>
    <p>
      My first name's: <%= @customer_order.first_name %>
    </p>
    <p>
      My last name's: <%= @customer_order.last_name %>
    </p>
    <p>
      My email's: <%= @customer_order.email %>
    </p>
    <p>
      My phone's: <%= @customer_order.phone %>
    </p>
    <p>
      My address's: <%= @customer_order.address %>
    </p>
    <p>
      My company name's: <%= @customer_order.company_name %>
    </p>
    <p>
      Time to send order: <%= @customer_order.created_at.strftime("%Y/%m/%d - %I:%M") %>
    </p>
    <div class="form-group">
        <%= label "", "Product List: ", class: "control-label col-sm-2 text-semibold" %>
        <div class="col-sm-10">
            <article>
                <table class="table">
                  <thead>
                      <tr>
                          <th>Product's Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                      </tr>
                  </thead>
                  
                  <tbody>
                        <% if @customer_order.customer_order_details.any? %>
                            <% @customer_order.customer_order_details.each_with_index do |item,index| %>
                                <tr class="<%= (index%2 == 1 ? "" : "alpha-teal") %>">
                                    <td><%= item.menu.name_1 %></td>
                                    <td><%= number_with_delimiter item.price.to_f %></td>
                                    <td><%= item.quantity %></td>
                                </tr>
                            <% end %>
                        <% else %>
                            <%= content_tag(:p, class: "form-control-static") do %>
                                None Available
                            <% end %>
                        <% end %>
                  </tbody>	
                </table>
            </article>
        </div>
    </div>
  </body>
</html>
