<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>-------- Order Info --------</p>
    <p>
      From: <%= @customer_order.email %>
    </p>
    <p>
      First Name: <%= @customer_order.first_name %>
    </p>
    <p>
      Last Name: <%= @customer_order.last_name %>
    </p>
    <p>
      Phone: <%= @customer_order.phone %>
    </p>
    <p>
      Address: <%= @customer_order.address %>
    </p>
    <p>
      Company name: <%= @customer_order.company_name %>
    </p>
    <p>
      Date: <%= @customer_order.created_at.in_time_zone("Amsterdam").strftime("%d/%m/%Y %H:%M") %> (GMT+01:00)
    </p>
    <p>
      To: phosaigon52@gmail.com
    </p>
    <div class="form-group">
        <p>-------- Order Listing --------</p>
        <div class="col-sm-10">
            <article>
                <table class="table">
                  <thead>
                      <tr>
                          <th>Food Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                      </tr>
                  </thead>
                  
                  <tbody>
                        <% if @customer_order.customer_order_details.any? %>
                            <% @customer_order.customer_order_details.each_with_index do |item,index| %>
                                <tr class="<%= (index%2 == 1 ? "" : "alpha-teal") %>">
                                    <td><%= item.menu.name_1 %></td>
                                    <td><%= number_with_delimiter item.price.to_f %></td>
                                    <td><%= item.quantity %></td>
                                </tr>
                            <% end %>
                        <% else %>
                            <%= content_tag(:p, class: "form-control-static") do %>
                                None Available
                            <% end %>
                        <% end %>
                  </tbody>	
                </table>
            </article>
        </div>
    </div>
  </body>
</html>
