<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>-------- Reservation --------</p>
    <p>
      From: <%= @customer_reservation.customer_email %>
    </p>
    <p>
      Name: <%= @customer_reservation.customer_name %>
    </p>
    </p>
    <p>
      Phone: <%= @customer_reservation.customer_phone %>
    </p>
    <p>
      Note: <%= @customer_reservation.note %>
    </p>
    <p>
      Order time: <%= @customer_reservation.order_time.strftime("%d/%m/%Y %H:%M") %>  (GMT+01:00)
    </p>
    <p>
      To: phosaigon52@gmail.com
    </p>
    <p>
      Date: <%= @customer_reservation.created_at.in_time_zone("Amsterdam").strftime("%d/%m/%Y %H:%M") %> (GMT+01:00)
    </p>
  </body>
</html>
