<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Pho Sai Gon 52, </h1>
    <p>This's my reservation info:</p>
    <p>
      My name's: <%= @customer_reservation.customer_name %>
    </p>
    <p>
      My phone's: <%= @customer_reservation.customer_phone %>
    </p>
    <p>
      My email's: <%= @customer_reservation.customer_email %>
    </p>
    <p>
      Order time: <%= @customer_reservation.order_time %>  (format: mm/dd/yy - hh/mm)
    </p>
    <p>
      This's my note: <%= @customer_reservation.note %>
    </p>
    <p>
      Send date: <%= @customer_reservation.created_at %>
    </p>
  </body>
</html>
