<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Pho Sai Gon 52, </h1>
    <p>This's my reservation info:</p>
    <p>
      My name's: <%= @reservation.customer_name %>
    </p>
    <p>
      My phone's: <%= @reservation.customer_phone %>
    </p>
    <p>
      My email's: <%= @reservation.customer_email %>
    </p>
    <p>
      Order time: <%= @reservation.time_order.strftime("%m/%d/%Y - %H:%M") (format: mm/dd/yy - hh/mm) %>
    </p>
    <p>
      This's my note: <%= @reservation.note %>
    </p>
    <p>
      Send date: <%= @reservation.created_at.strftime("%Y/%m/%d - %H:%M") %>
    </p>
  </body>
</html>
