<%= form_for(@customer_reservation) do |f| %>
  <% if @customer_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_reservation.errors.count, "error") %> prohibited this customer_reservation from being saved:</h2>

      <ul>
      <% @customer_reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label :customer_email %><br>
    <%= f.text_field :customer_email %>
  </div>
  <div class="field">
    <%= f.label :customer_phone %><br>
    <%= f.text_field :customer_phone %>
  </div>
  <div class="field">
    <%= f.label :order_time %><br>
    <%= f.datetime_select :order_time %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
