<body>

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
        <%= render "home/header" %>
    <!-- END / HEADER -->

    <!-- CONTACT US -->
    <section id="contact" class="contact section">

        <div class="contact-form contact-form-2">
            <div class="divider divider-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <address class="find-us">
                            <span class="md">Find Us Here</span>
                            <div class="location-1">
                                <i class="icon awe_map_marker"></i>
                                <strong>Location: <%= @info.address %></strong>
                            </div>
                            <div class="location-1">
                                <i class="icon awe_map_marker"></i>
                                <strong>See location: <%= link_to "here", "https://www.google.com/maps/place/Z%C3%BCrcherstrasse+91,+8952+Schlieren,+Thu%E1%BB%B5+S%C4%A9/@47.3981939,8.4569929,17z/data=!3m1!4b1!4m2!3m1!1s0x47900b8eb1097ab9:0x190058072b37d7a4", target: "_blank" %>
                            </div>
                        </address>
                    </div>
                    <div class="col-md-8">
                        <div class="form-row">
                            <%= form_for @customer_contact do |f| %>
                                <div class="form-item form-textarea">
                                    <%= f.text_area :message, placeholder: 'Your Message (*)', required: true %>
                                </div>
                                <div class="form-item form-type-name">
                                    <%= f.text_field :name, placeholder: 'Your Name (*)', required: true %>
                                </div>
                                <div class="form-item form-type-email">
                                    <%= f.email_field :email, placeholder: 'Your Email (*)', required: true %>
                                </div>
                                <div class="form-actions">
                                    <%= f.submit 'Send message', class: 'awe-btn awe-btn-2 awe-btn-default text-uppercase' %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-first">

            <!-- OVERLAY -->
            <div class="awe-overlay overlay-default"></div>
            <!-- END / OVERLAY -->
            
            <div class="section-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="contact-body text-center">
                                <h3 class="lg text-uppercase">CONTACT US</h3>
                                <hr class="_hr">
                                <address class="address-wrap">
                                    <span class="phone"><%= @info.name %></span>
                                    <span class="color-white"><%= @info.address %></span>
                                    <span class="address">Email: <%= @info.email %></span>
                                    <span class="address">Website: <%= @info.website %></span>
                                    <span class="address">Telefon: <%= @info.phone %></span>
                                    <span class="address">Fax: <%= @info.fax %></span>
                                </address>
                            </div>

                            <div class="see-map text-center">
                                <a href="#" data-see-contact="See contact info" data-see-map="See location on map" class="awe-btn awe-btn-5 awe-btn-default text-uppercase"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAP -->
            <div id="map" data-map-zoom="19" data-map-latlng="47.398197, 8.459163" data-snazzy-map-theme="grayscale" data-map-marker="images/map-here.png" data-map-marker-size="35*60"></div>
            <!-- END / MAP -->
        </div>

    </section>

    <!-- END / CONTACT US -->


    <!-- FOOTER -->
        <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                <%= render "home/footer" %>
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<%= javascript_include_tag '/frontend/js/lib/jquery-1.11.2.min.js' %>

<!-- GOOGLE MAP -->
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag '/frontend/js/lib/bootstrap.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.bxslider.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.easing.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.owl.carousel.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/masonry.pkgd.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/perfect-scrollbar.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.magnific-popup.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.parallax-1.1.3.js' %>
<%= javascript_include_tag '/frontend/js/lib/retina.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.form.min.js' %>
<%= javascript_include_tag '/frontend/js/lib/jquery.validate.min.js' %>
<%= javascript_include_tag '/frontend/js/scripts.js' %>

</body>